<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../layui/layui.js"></script>
    <script src="../js/baseutil.js"></script>
</head>


<div class="content-wrapper">
    <form class="layui-form" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">学员</label>
            <div class="layui-input-block">
                <input type="hidden" name="id" lay-verify="id" th:value="*{tuitionEntity.id}">
                <input type="text" name="studentId" lay-verify="studentId" th:value="*{tuitionEntity.studentId}" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">缴费金额</label>
            <div class="layui-input-block">
                <input type="text" name="payMoney" lay-verify="payMoney" th:value="*{tuitionEntity.payMoney}" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">缴费时间</label>
            <div class="layui-input-block">
                <input type="text" name="payTime" lay-verify="payTime" th:value="*{tuitionEntity.payTime}" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">缴费方式</label>
            <div class="layui-input-block">
                <input type="hidden" id="chargeType" th:value="*{tuitionEntity.chargeType}">
                <select name="chargeType" lay-filter="chargeType">
                    <option value="">请选择---</option>
                    <option value="1">现金</option>
                    <option value="2">微信</option>
                    <option value="3">支付宝</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否开票</label>
            <div class="layui-input-block">
                <input type="hidden" id="invoice" th:value="*{tuitionEntity.chargeType}">
                <select name="invoice" lay-filter="invoice">
                    <option value="">请选择---</option>
                    <option value="1">已开</option>
                    <option value="2">未开</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开票类型</label>
            <div class="layui-input-block">
                <input type="hidden" id="billingType" th:value="*{tuitionEntity.chargeType}">
                <select name="billingType" lay-filter="billingType">
                    <option value="">请选择---</option>
                    <option value="1">普通发票</option>
                    <option value="2">增值税专用发票</option>
                    <option value="3">收据</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程</label>
            <div class="layui-input-block">
                <input type="text" name="courseId" lay-verify="courseId" th:value="*{tuitionEntity.courseId}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="description" lay-verify="description" th:value="*{tuitionEntity.description}" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit=""
                        lay-filter="demo1" id="commit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->
<script>
    $(document).ready(function(){
        $("select[name='chargeType']").val($("#chargeType").val());
        $("select[name='invoice']").val($("#invoice").val());
        $("select[name='billingType']").val($("#billingType").val());
    });

    layui.use(['form', 'layedit', 'laydate','upload'], function(){
        var form = layui.form
            ,laydate = layui.laydate
        var $ = layui.jquery;
        $(this).removeAttr("lay-key");
        //日期
        laydate.render({
            elem : '#date'
            ,trigger : 'click'
        });

        //自定义验证规则
        form.verify({

        });

        form.on('submit(demo1)', function(data){
            $.ajax({
                url:'../tuition/update',
                method : 'post',
                data : data.field,
                dataType : 'JSON',
                async:false,
                success : function(res) {
                    if(res=="0"){
                        layuiOpen("结果","修改成功");
                    }else{
                        layuiOpen("结果","修改失败");
                    }
                },
                error : function(res) {
                    layuiOpen("结果","请求异常");
                }
            });


            return false;
        });
    });

    //提示框
    function layuiOpen(id, text) {
        layer.open({
            type : 1,
            offset : 'auto',
            id : id //防止重复弹出
            ,
            content : '<div style="padding: 20px 100px;">' + text
                + '</div>',
            btn : '确定',
            btnAlign : 'c' //按钮居中
            ,
            shade : 0.2 //不显示遮罩
            ,
            yes : function() {
                layer.closeAll();
                window.parent.location.reload();
            }
        });
    }
</script>

</body>
</html>