<html>



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../layui/layui.js"></script>
    <script src="../js/baseutil.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">


<div class="content-wrapper">
    <form class="layui-form" action="">

        <div class="layui-form-item">
            <label class="layui-form-label">上课场地</label>
            <div class="layui-input-block">
                <select id="placeId" name="placeId" lay-filter="placeId">
                    <option value="">请选择场地---</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" id="courseDiv" style="display: none">
            <label class="layui-form-label">课程类型</label>
            <div class="layui-input-block">
                <select id="courseId" name="courseId" lay-filter="courseId">
                    <option value="">请选择课程类型---</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">教练</label>
            <div class="layui-input-block">
                <select id="coachId" name="coachId" lay-filter="coachId">
                    <option value="">请选择教练---</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">周几</label>
            <div class="layui-input-block">
                <input type="text" name="week" lay-verify="week" placeholder="请输入周几,如：周一" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-block">
                <input type="text" id="startTime" name="startTime" lay-verify="startTime" placeholder="请输入开始时间,如：8:00" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-block">
                <input type="text" id="endTime" name="endTime" lay-verify="endTime" placeholder="请输入结束时间,如：11:00" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit=""
                        lay-filter="demo1" id="commit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!-- /.container -->
<script>
    $(document).ready(function(){
        // var uuid = '${uuid}';
        $.ajax({
            url: '../place/getList',
            dataType: 'json',
            data:{},
            type: 'post',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#placeId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });

                layui.form.render("select");
            }
        });

        $.ajax({
            url: '../coach/getListByOnWork',
            dataType: 'json',
            type: 'post',
            success: function (data1) {
                $.each(data1, function (index, item) {
                    $('#coachId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });

                layui.form.render("select");
            }
        });
    });

    layui.use(['form', 'layedit', 'laydate','upload'], function(){
        var form = layui.form
        ,laydate = layui.laydate
        var $ = layui.jquery;
        $(this).removeAttr("lay-key");
        //日期
        laydate.render({
            elem : '#startTime'
            ,type: 'time'
            ,trigger: 'click'
        });
        laydate.render({
            elem : '#endTime'
            ,type: 'time'
            ,trigger: 'click'
        });

        //自定义验证规则
        form.verify({

        });

        form.on('select(placeId)', function (data) {
            $("#courseDiv").show();
            var placeId = $("#placeId").val();

            $.ajax({
                url: '../course/getAllByPlace',
                dataType: 'json',
                data:{'placeId':placeId},
                type: 'post',
                async:false,
                success: function (data1) {
                    $('#courseId').empty();
                    $.each(data1, function (index, item) {
                        $('#courseId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                    });

                    layui.form.render("select");
                }
            });
        });

        form.on('submit(demo1)', function(data){
            $.ajax({
                url:'../chooseClass/add',
                method : 'post',
                data : data.field,
                dataType : 'JSON',
                async:false,
                success : function(res) {
                    if(res==0){
                        layuiOpen("结果","添加成功");
                    }else{
                        layuiOpen("结果","添加失败");
                    }
                },
                error : function(res) {
                    layuiOpen("结果","请求异常");
                }
            });

            return false;
        });
    });

    //提示框
    function layuiOpen(id, text) {
        layer.open({
            type : 1,
            offset : 'auto',
            id : id //防止重复弹出
            ,
            content : '<div style="padding: 20px 100px;">' + text
                + '</div>',
            btn : '确定',
            btnAlign : 'c' //按钮居中
            ,
            shade : 0.2 //不显示遮罩
            ,
            yes : function() {
                layer.closeAll();
                window.parent.location.reload();
            }
        });
    }

    function layuiOpen2(id, text) {
        layer.open({
            type : 1,
            offset : 'auto',
            id : id //防止重复弹出
            ,
            content : '<div style="padding: 20px 100px;">' + text
                + '</div>',
            btn : '确定',
            btnAlign : 'c' //按钮居中
            ,
            shade : 0.2 //不显示遮罩
            ,
            yes : function() {
                layer.closeAll();
            }
        });
    }

</script>

</body>
</html>