<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header-css">
    <title>学员签到管理</title>
</head>

<style>
    .login-button { /* 按钮美化 */
        width: 70px; /* 宽度 */
        height: 28px; /* 高度 */
        border-width: 0px; /* 边框宽度 */
        border-radius: 3px; /* 边框半径 */
        background: #1E90FF; /* 背景颜色 */
        cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
        outline: none; /* 不显示轮廓线 */
        font-family: Microsoft YaHei; /* 设置字体 */
        color: white; /* 字体颜色 */
        font-size: 17px; /* 字体大小 */
    }

    .login-button:hover { /* 鼠标移入按钮范围时改变颜色 */
        background: #5599FF;
    }
</style>

<body class="hold-transition skin-blue sidebar-mini">
<div th:replace="fragments/header::header-body"/>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            学员签到管理
        </h1>
        <br/>
        <ol class="breadcrumb">
            <li><a href="../index"><i class="fa fa-dashboard"></i>首页</a></li>
            <li class="active">学员签到管理</li>
        </ol>
    </section>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">

                    <div class="layui-card-body" >
                            <label>学员:</label>
                            <select id="studentId" name="studentId" style="width: 150px;height: 25px;">
                                <option value="">请选择学员---</option>
                            </select>
                            <label>教练:</label>
                            <select id="coachId" name="coachId" style="width: 150px;height: 25px;">
                                <option value="">请选择教练---</option>
                            </select>
                            <label>起始时间:</label><input id="start" class="k-textbox" >
                            <label>结束时间:</label><input id="end" class="k-textbox" >
                            <button class="k-button  k-primary" onclick="query()">查询</button>

                            <table class="layui-show" id="standardTaskExeTable" lay-filter="standardTaskExeTable" ></table>

<!--                            <script type="text/html" id="toolbarDemo">-->
<!--                                <div class="layui-btn-container">-->
<!--                                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">添加</button>-->
<!--                                </div>-->
<!--                            </script>-->

<!--                            <script type="text/html" id="barDemo">-->
<!--                                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
<!--                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--                            </script>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<script>
    $(document).ready(function(){

        $.ajax({
            url: '../coach/getListByOnWork',
            dataType: 'json',
            data:{},
            type: 'post',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#coachId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });

                layui.form.render("select");
            }
        });

        $.ajax({
            url: '../student/getList',
            dataType: 'json',
            data:{},
            type: 'post',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#studentId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });

                layui.form.render("select");
            }
        });

        loadStandardTaskExeTable("","","","");
    });

    layui.use(['form', 'layedit', 'laydate','upload'], function(){
        var form = layui.form
            ,laydate = layui.laydate
        var $ = layui.jquery;
        $(this).removeAttr("lay-key");
        //日期
        laydate.render({
            elem : '#start'
            ,type: 'date'
            ,trigger: 'click'
        });
        laydate.render({
            elem : '#end'
            ,type: 'date'
            ,trigger: 'click'
        });
    });

    function query(){
        var coachName = $("#coachId").val();
        var studentName = $("#studentId").val();
        var startTime=$("#start").val();//开始时间
        var endTime=$("#end").val();//结束时间
        loadStandardTaskExeTable(studentName,coachName,startTime,endTime);
    }

    function loadStandardTaskExeTable(studentName,coachName,startTime,endTime){

        layui.use(['table'], function () {
            var table = layui.table;

            table.render({
                elem: "#standardTaskExeTable",
                url: '../studentSign/getListByPageAndOther',
                even: true,
                where: {
                    studentName:studentName,
                    name:coachName,
                    startTime: startTime,
                    endTime: endTime
                },
                toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
                page:{ //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                    //,curr: 5 //设定初始在第 5 页
                    ,groups: 1 //只显示 1 个连续页码
                    ,first: false //不显示首页
                    ,last: false //不显示尾页
                    ,limits:[5, 10, 20, 30, 40]
                    ,limit:15

                },
                cols: [
                    [
                        {field: "xuhao", title: "序号", width: '8%',align:"center",templet:setXuHao,fixed:'left'},
                        {field: "student_name", title: "学员姓名", width: '15%',align:"center",fixed:'left'},
                        {field: "sign_time", title: "签到时间", width: '20%',align:"center"},
                        {field: "place_name", title: "所在场地", width: '20%',align:"center"},
                        {field: "course_name", title: "课程", width: '20%',align:"center"},
                        {field: "user_name", title: "教练", width: '20%',align:"center"},
                        {field: "money", title: "本节价格", width: '20%',align:"center"}
                    ]
                ],
                done: function (res, curr, count) {
                    table = res.data;
                }
            });


            // //监听行单击事件（双击事件为：rowDouble）
            // table.on('toolbar(standardTaskExeTable)', function(obj){
            //     if(obj.event==='getCheckData'){
            //         var url = '../student/toadd';
            //         openWin("添加课程",url);
            //     }
            // });
            //
            // //监听行工具事件
            // table.on('tool(standardTaskExeTable)', function(obj){
            //     var data = obj.data;
            //     if(obj.event === 'del'){
            //         layer.confirm('真的删除行么', {
            //             btn: ['确认']
            //         }, function(index) {
            //             obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
            //             layer.close(index);
            //
            //             $.ajax({
            //                 url: '../student/delete',
            //                 method: 'post',
            //                 data: {
            //                     'id': data.id
            //                 },
            //                 dataType: 'JSON',
            //                 success: function (res) {
            //                     if (res == "1") {
            //                         layuiOpen("结果", "删除成功");
            //                     } else {
            //                         layuiOpen("结果", "删除失败");
            //                     }
            //                     loadStandardTaskExeTable();
            //                 },
            //                 error: function (res) {
            //                     layuiOpen("结果", "请求异常");
            //                 }
            //             });
            //
            //         });
            //     } else if(obj.event === 'edit'){
            //         var url = '../student/toupdate?studentId='+data.id;
            //         openWin("修改课程",url);
            //     }
            // });

        });
    }

    function setPlace(data){
        var placeId = data.placeId;
        // if(inSchool=="1"){
        //     return "<span>校内</span>";
        // }else if(inSchool=="2"){
        //     return "<span>校外</span>";
        // }else{
        //     return "<span></span>";
        // }
        return placeId;
    }




    //序号
    function setXuHao(data){
        return data.LAY_INDEX;
    }

    //提示框
    function layuiOpen(id, text) {
        layer.open({
            type : 1,
            offset : 'auto',
            id : id //防止重复弹出
            ,
            content : '<div style="padding: 20px 100px;">' + text
                + '</div>',
            btn : '确定',
            btnAlign : 'c' //按钮居中
            ,
            shade : 0.2 //不显示遮罩
            ,
            yes : function() {
                layer.closeAll();
            }
        });
    }

    function openWin(title,url){

        layer.open({
            type: 2,
            skin: 'layui-layer-demo', //样式类名
            title: title,
            closeBtn: 1, //不显示关闭按钮
            anim: 2,
            area: ['950px', '600px'],
            shadeClose: true, //开启遮罩关闭
            content: url
        });
    }

</script>

<footer th:replace="fragments/footer::footer"/>

<aside th:replace="fragments/menu"/>
</body>
</html>